<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE_MASK" class="ch.qos.logback.core.FileAppender">
        <file>logs/student-app.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.reactiverest.studentapp.util.MaskingPatternLayout">
                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Address JSON pattern -->
                <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email pattern -->
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="CONSOLE_MASK" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.reactiverest.studentapp.util.MaskingPatternLayout">
                <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Address JSON pattern -->
                <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email pattern -->
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE_MASK"/>
        <appender-ref ref="FILE_MASK"/>
    </root>
</configuration>